.blog{
    background:#fff;
    width:96%;
    border-radius: 5px;
    padding:10px 15px;
    box-shadow: 3px 4px 3px #888;
}
.blog_title{
    text-align: center;
    font-size:22px;
    font-weight:600;
    padding:10px 0px;
}
.blog_msg{
    text-align:center;
    font-weight:500;
    font-size:18px;
    padding:10px 0px;
    border-bottom:1px solid #ccc;
    
}
.blog_content{
    padding:20px 10px 20px 10px;
    font-size:14px;
    color:#13102b;
    text-align:left;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.send_comment{
    background:#f5f5f5;
    width:96%;
    border-radius: 5px;
    padding:10px 15px;
    box-shadow:3px 4px 3px #888;
    text-align: left;
    margin-top:50px;
    margin-bottom:30px;
}

.send_comment input{
    width:300px;
    height:34px;
    border:1px solid #ccc;
    border-radius: 5px;
    padding-left:5px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
}
.send_comment textarea{
    width:90%;
    height:100px;
    border:1px solid #ccc;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
    border-radius: 5px;
}

.send_comment button{
    width:100px;
    height:30px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
}

.send_comment button:hover{
    background:#adadad;
}

.codeBox svg{
    vertical-align:middle;
    margin-top:-10px;
}