<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <header  class="header">
        <div class="container">
            <a href="#" class="title">my personal blog | teac blog</a>
            <ul class="menu">
                <li><a href="#">home</a></li>
                <li><a href="sitemap.html">map</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="guestbook.html">forum</a></li>
            </ul>
            <div class="search_bar">
                <input type="text" placeholder="search by key worlds">
                <button>search</button>
            </div>
        </div>
    </header>
    <div class="content">

            <div class="content_left">
                <div class="description">
                    <div class="about_title">about me title</div>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <p>about me</p>
                    <div class="about_title">about blog</div>
                    <p>about blog</p>
                    <p>about blog</p>
                    <p>about blog</p>
                    <p>about blog</p>
                    <p>about blog</p>
                    <p>about blog</p>
                    <p>about blog</p>
                </div>
                    <div class="blog_comments" id="blog_comments" >
                            <span  class="blog_comment_msg">this article has {{count}} comment</span>
                            <div class="blog_comment" v-for="item in commentsList">
                                <span>
                                    <b>{{item.info}}</b>:write at {{item.ctime}} <a style="cursor:pointer" v-on:click="reply(item.id)" >[reply]</a>
                                </span>
                                <div>{{item.comments}}</div>
                            </div>
                    </div>
    
                    <div class="send_comment" id="send_comment">
                        <span>send comment</span>
                        <div>
                            <input type="hidden" id="comment_reply" value="-1">
                            <input type="text"  placeholder="name" id="comment_name">
                            <input type="text"  placeholder="email:you will recive via email by reply" id="comment_email">
                        </div>
                        <div>
                            <textarea placeholder="will not reply if nonsense" name="comment_content" id="comment_content" ></textarea>
                        </div>
                        <div>
                            <input type="text" placeholder="code"  id="comment_code">
                            <span v-on:click="getNewCode()"  v-html="vCode" class="codeBox"></span>
                        </div>
                        <button v-on:click="sendComment()">submit</button>
                    </div>
            </div>
            <div class="content_right">
                    <div class="right_module" id="random_tags">
                        <div>random tags</div>
                        <a href="" v-for="tag in tags" :style="{color:randomColor(),fontSize:randomSize()}">{{tag}}</a>  
                    </div>
                    <div class="right_module" id="new_hot">
                        <div>currently hot</div>
                        <ul>
                            <li v-for="tl in titleList"><a :href="tl.link">{{tl.title}}</a></li>
                        </ul>
                    </div>
                    <div class="right_module" id="new_comments" >
                        <div>currently comments</div>
                        <ul>
                                <li v-for="cm in  commentList" >
                                    <div>
                                        <span>{{cm.user}}</span>
                                        <span  class="pull_right">{{cm.data}}</span>
                                    </div>
                                    <p>
                                        {{cm.content}}
                                    </p>
                                </li>
                        </ul>
                    </div>
                    <div class="right_module">
                            <div>friends links</div>
                            <span><a href="">iTman</a></span>   <span><a href="">iTman</a></span>
                            <span><a href="">iTman</a></span>
                            <span><a href="">iTman</a></span>
                            <span><a href="">iTman</a></span>
                            <span><a href="">iTman</a></span>
                            <span><a href="">iTman</a></span>
                        </div>
                </div>
    </div>
    <footer class="footer">
        <ul>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
            <li>C/C++</li>
        </ul>
        <p>create by @dylan</p>
    </footer>
    <script src="./js/about.js"></script>
    <script src="./js/base.js"></script>
</body>
</html>